<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="" routerLinkActive="active">FILM</a> 
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button (click)="emptyCart()">empty cart</button>
    <a routerLink="/order" routerLinkActive="active">
      
      <i class="col-sm-2 fas fa-cart-arrow-down"> cart</i>
      <span>{{amount}}</span>
    </a>
    
  </nav>