nav{
    height: 150px;
    background-color:#383D43;
    padding: 30px;    
}

/* div {
    border: solid 1px black;
} */

.form-control{
    width: 70%;
}

.btn{
    width: 30%;
    margin-right: 10px;
    font-size: 0.8em;
}

.cart{
    float: right;
}

.fas{
    padding-top: 10px;
}
@media screen and (min-width: 1024px) {


}




@media screen and (min-width: 768px) {

}