<nav class="navbar navbar-dark bg-dark">
  <div class="row">
    <div class="col-6">
      <a class="navbar-brand" routerLink="" routerLinkActive="active">FILM</a>
    </div>
    <div class="cart col-6">
      <a routerLink="/order" routerLinkActive="active">
        <i class="fas fa-cart-arrow-down float-right"></i>
        <span>{{amount}}</span>

      </a>
    </div>
  </div>

  <input class="form-control col-sm-6" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0 col-2" type="submit">Search</button>


</nav>
