<div class="container" *ngIf="cart">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Amount</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cartItem of cart">
        <td><img src="{{cartItem.product.imageUrl}}" width="60px;" height="100px;" alt={{cartItem.name}}></td>
        <td>{{cartItem.product.name}}</td>
        <td>{{cartItem.product.price | currency:"$"}}</td>
        <td>{{cartItem.amount}}</td>
        <td>{{cartItem.product.price * cartItem.amount | currency:"$"}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <button type="submit" class="btn" (click)="emptyCart()">Empty Cart</button>
  </div>

  <form class="orderForm">
    <h3>{{ getTotal() | currency:"$"}}</h3>
    <div class="border-line"></div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" placeholder="Name" #name>
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" placeholder="Email" #email>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputState">PaymentMethod</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>cash</option>
          <option>credit card</option>
        </select>
        <button (click)="orderMovies(name.value, email.value)" type="submit" class="btn order">Order</button>
      </div>
    </div>
  </form>
</div>
<div class="thanks-container" *ngIf="!cart">
  <h3>cart is empty</h3>
      <button class="btn btn-success my-2 my-lg-3" routerLink="/home" routerLinkActive="active">
        <span>go to home</span>
      </button>
</div>