.container{
    margin-top: 20px;
    width: 100%;
}

.orderForm{
    background-color: #F2F2F2;
    /* background-color: #26A74A; */
    padding: 30px;
    margin-bottom: 30px;
}

.btn{
   background-color: #26A74A; 
   color:#F2F2F2;
   margin: 20px;
}
.border-line{
    border-bottom: 1px grey solid;
    margin: 20px 0px 20px 0px;
}

.thanks-container{
    width: 80%;
    height: 50%;
    background-color: #F2F2F2;
    /* background-color: #26A74A; */
    padding: 30px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
}

/* .table{
    
    width: 160px;
} */

label{
    font-weight: 600;
}



