

<div class="container">
  <h4>Total: {{ total }}</h4>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Amount</th>
        <th scope="col">Total</th>
        <!-- <th scope="col">Add</th>
        <th scope="col">Remove</th> -->
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cartItem of cart">
        <td><img src="{{cartItem.product.imageUrl}}"  width="60px;"  height="100px;"alt={{cartItem.name}}></td>
        <td>{{cartItem.product.name}}</td>
        <td>{{cartItem.product.price | currency:"$"}}</td>
        <td>{{cartItem.amount}}</td>
        <td>{{cartItem.product.price * cartItem.amount | currency:"$"}}</td>
        <!-- <td>
          <i class="col-sm-3 fas fa-cart-arrow-down" (click) = addToCart(product)></i>
        </td>
        <td>
            <i class="col-sm-3 fas fas fa-trash-alt" (click) = removeItem(product)></i>
        </td> -->
        
     
        
      </tr>
    </tbody>
  </table>
</div>
