<main>
  <div class="table-responsive" *ngIf="orderDetails">
    <table class="table table-dark">
      <thead>
        <tr>
          <th class="th-sm" scope="col">id</th>
          <th class="th-sm" scope="col">ordered time</th>
          <th class="th-sm" scope="col">ordered By</th>
          <th class="th-sm" scope="col">paymentMethod</th>
          <th class="th-sm" scope="col">totalPrice</th>
          <th class="th-sm" scope="col">detail</th>
          <!-- <th class="th-sm" scope="col">delete</th> -->        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let singleOrderDetail of orderDetails">
          <td>{{singleOrderDetail.id}}</td>
          <td>{{singleOrderDetail.created}}</td>
          <td>{{singleOrderDetail.createdBy}}</td>
          <td>{{singleOrderDetail.paymentMethod}}</td>          
          <td>{{singleOrderDetail.totalPrice | currency:"$"}}</td>
          <td><a routerLink="/orderDetails/{{singleOrderDetail.id}}">
          <button class="btn btn-success my-2 my-lg-3">order details</button>
          </a></td>
          <!-- <td><button class="btn btn-success my-2 my-lg-3" (click)=deleteOrder()>delete order</button></td> -->
        </tr>
      </tbody>
    </table>
  </div>
</main>
