<!-- 
<ul *ngFor="let product of products">
  <li>{{product.id}} {{product.name}} </li>
  <img class="filmsImg" src = {{product.imageUrl}} alt="Place image title">
</ul> -->

<!-- <div>
<table>
  <thead>
    <th>ID</th>
    <th>NAME</th>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td><img class="filmsImg" src={{product.imageUrl}} alt={{product.name}}></td>
    </tr>
  </tbody>
</table>
</div> -->



<div class="row" style="justify-content:center;">
  <button class="btn btn-lg btn-info" (click)=ngOnInit()>All</button>
  <button class="btn btn-lg btn-info" (click)=Action()>Action</button>
  <button class="btn btn-lg btn-info">Thriller</button>
  <button class="btn btn-lg btn-info">Comedy</button>
  <button class="btn btn-lg btn-info">Sci-fi</button>
</div>

<div class="row product-container">
  <!-- <div class="col-md-2 product" *ngFor="let product of (products | productsFilter:filterBy)"> -->
  <div class="col-md-2 product" *ngFor="let product of products">
    <img class="filmsImg" src="{{product.imageUrl}}" alt={{product.name}}>
    <div class="productNamePrice">
      <p>{{product.name | slice:0:24}}</p>
      <p>{{product.price}} sek</p>
    </div>


  </div>
</div>




