<main>
    <div class="detail-table table-responsive" *ngIf="orderDetails">
        <p>{{orderDetails.orderRow}}</p>
        <table class="table table-dark">
        <thead>
          <tr>
            <th class="th-sm" scope="col">id</th>           
            <th class="th-sm" scope="col">product id</th>
            <th class="th-sm" scope="col">product amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let orderRow of orderDetails.orderRows">
            <td>{{orderRow.id}}</td>
            <td>{{orderRow.productId}}</td>
            <td>{{orderRow.amount}}</td>           
          </tr>
        </tbody>
      </table>
      <!-- <p>{{orderDetails.createdBy}}</p>
      <p>{{orderDetails.totalPrice | currency:"$"}}</p> -->

      <div class="row userInfo-detail">
          <div class="col-sm-5 col-md-6">{{orderDetails.createdBy}}</div>
          <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">Total: {{orderDetails.totalPrice | currency:"$"}}</div>
        </div>
    </div>


    


  </main>
  
